.nav {
	grid-area: n;
	background: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;
	padding: 10px 0px 0px 10px;
}

.item a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 900;
	font-size: 25px;
}
.item a:hover {
	color: #ffd500;
}
.sideBarFriends {
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}
