html {
	font-family: 'Goldman', sans-serif;
	height: 100vh;
}
.app-wrapper {
	display: grid;
	padding-top: 60px;
	grid-template-areas: 'n c';

	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	background-image: url('../imgs/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
