.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	height: 100vh;
	width: 1000px;
	overflow: auto;
	margin-top: 10px;
}

.dialogsItems a {
	color: #ffffff;
	text-decoration: none;
	margin-right: 20px;
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.containerForImgAndName {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 15px;
	width: 140px;
	justify-content: space-between;
}
.text {
	margin-bottom: 50px;
	background: #000000ba;
	width: 200px;
	border-radius: 15px;
	padding-left: 10px;
}
.dialogsItems {
}

.messages {
	margin-top: 20px;
	margin-left: -100px;
}

.message {
}
.containerTextarea {
	display: flex;
	column-gap: 10px;
}

.textarea {
	width: 800px;
	height: 30px;
	border-radius: 20px;
	font-size: 20px;
	padding: 10px 5px 10px 5px;
	background-color: #0000007a;
	color: #ffd500;
}
.textarea::-webkit-scrollbar {
	width: 0px;
	height: 2px;
}
::-webkit-scrollbar {
	width: 0px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: #ffd500;
}
